:root 
    font-family Inter, system-ui, Avenir, Helvetica, Arial, sans-serif
    font-size 16px
    line-height 1.5
    font-weight 400
    color-scheme light dark
    color rgba(255, 255, 255, 0.87)
    background-color #242424
    font-synthesis none
    text-rendering optimizeLegibility
    -webkit-font-smoothing antialiased
    -moz-osx-font-smoothing grayscale
    -webkit-text-size-adjust 100%
    /*
    --accent-light SelectedItem
    --accent ivory 
    --accent-bold #646cff
    */

    --font Inter, system-ui, Avenir, Helvetica, Arial, sans-serif
    --misc-color light-dark(#ebe8dc, #252521)
    --button-color light-dark(#eae8df, #252521)
    
    --input-color light-dark(#fff, #3d3d3a)
    --bg-color light-dark(#f1efe9, #30302e)
    --entry-bg-color light-dark(#f9f8f5, #333331)
    
    --color light-dark(#3e3b2d, #e0e0dd)
    --link-color light-dark(#646cff, #646cff)
    --red-color light-dark(#e0521d, #e0521d)

li a
  word-break break-all
  overflow-wrap break-word

button 
    background-color var(--button-color)
    color var(--color)
    border none
    padding 10px 15px
    margin-top 10px
    border-radius 10px
    cursor pointer
    box-shadow 0 2px 4px rgba(0, 0, 0, 0.1)
    font-weight 600
    &:hover 
        box-shadow 0 2px 4px rgba(0, 0, 0, 0.5)
        color var(--link-color)



button.big 
    padding 15px 30px
    border-radius 16px

button.small 
    padding 5px 10px
    font-size 10px
    text-transform uppercase
    margin 10px 5px 0 0

input:not(submit), textarea 
    background-color var(--input-color)
    color var(--color)
    border none

#logo pre 
    color var(--color)

    
body 
    background-color var(--bg-color)
    color var(--color)
    Xfont-family ui-monospace "Cascadia Code" "Source Code Pro" Menlo Consolas

a
    font-weight 500
    text-decoration inherit
    font-weight 500
    color #646cff
    text-decoration inherit
    &:hover
        color #535bf2

#logo
  margin 10px 0
  padding 10px 0
  pre
    font-size 2vw
    transition 500ms all ease-in-out
    
h4.flog-title {
    font-size 11px
}

h4.flog-title,
.connected #logo 
    margin 0
    padding 0

.connected #logo pre
      font-size 3px
    

body
    margin 0
    display flex
    min-width 320px
    min-height 100vh
    Xbackground-color Canvas
    Xcolor CanvasText
    Xcolor-scheme light dark



h2,h3,h4 
    padding 0
    line-height 1.1
    margin 1em 0 .25em


h1
    font-size 3em

h2
  font-size 2em
  Xfont-family "DejaVu Sans Mono", monospace

h3
    font-size 1.3em

h4
    font-size 1em
    font-weight 600

#app
    box-sizing border-box
    max-width 1280px
    margin 0 auto
    padding 20px 2rem 2rem 2rem
    @media (max-width: 768px)
        padding 1rem
        margin 0

    @media (max-width: 499px)
        padding .5rem

ul 
    margin 0
    padding 0
/* Tailwind */
.hidden
    display none

.auto-resize 
    field-sizing content


.vue-file
    font-size 10px !important
    font-weight bold !important
    opacity 0.5
    display none
    transition 500ms all ease-in-out 

//@media (max-width: 499px)
