:root 
    font-family Inter, system-ui, Avenir, Helvetica, Arial, sans-serif
    line-height 1.5
    font-weight 400
    color-scheme light dark
    color rgba(255, 255, 255, 0.87)
    background-color #242424
    font-synthesis none
    text-rendering optimizeLegibility
    -webkit-font-smoothing antialiased
    -moz-osx-font-smoothing grayscale
    -webkit-text-size-adjust 100%
    /*
    --accent-light SelectedItem
    --accent ivory 
    --accent-bold #646cff
    */

    --misc-color light-dark(#ebe8dc, #252521)
    --button-color light-dark(#eae8df, #252521)
    
    --input-color light-dark(#fff, #3d3d3a)
    --bg-color light-dark(#f1efe9, #30302e)
    --entry-bg-color light-dark(#f9f8f5, #333331)
    
    --color light-dark(#3e3b2d, #e0e0dd)
    --link-color light-dark(#646cff, #646cff)
    --red-color light-dark(#e0521d, #e0521d)

button 
    background-color var(--button-color)
    color var(--color)
    border none
    padding 10px 15px
    border-radius 10px
    cursor pointer
    box-shadow 0 2px 4px rgba(0, 0, 0, 0.1)
    &:hover 
        box-shadow 0 2px 4px rgba(0, 0, 0, 0.5)
        color var(--link-color)

input:not(submit), textarea 
    background-color var(--input-color)
    color var(--color)
    border none

#logo pre 
    color var(--color)

body 
    background-color var(--bg-color)
    color var(--color)
    font-family ui-monospace "Cascadia Code" "Source Code Pro" Menlo Consolas

a
    font-weight 500
    text-decoration inherit
    font-weight 500
    color #646cff
    text-decoration inherit
    &:hover
        color #535bf2

#logo
  margin 10px 0
  padding 10px 0
  pre
    font-size 12px
    transition 500ms all ease-in-out
    
.connected #logo pre
      font-size 5px
    
h2
  font-size 2.8em
  font-family "DejaVu Sans Mono", monospace


body
    margin 0
    display flex
    min-width 320px
    min-height 100vh
    Xbackground-color Canvas
    Xcolor CanvasText
    Xcolor-scheme light dark

h2, h3, h4
    line-height 1.1
    padding 1em 0

h1
    font-size 3.5em

h3
    font-size 2.1em

h4
    font-size 1.4em

#app
    max-width 1280px
    margin 0 auto
    padding 2rem



/* Tailwind */
.hidden
    display none